{% load static %}
<!DOCTYPE html>
<html>
<head>
     <title>DJSCOE - ACM</title>
<meta name="google-site-verification" content="9fuxI7Q2pOBDB6msw0W93OcWM6ot2VdL_B6MyD4eLgc" />    
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="djacm , djscoe acm, acm, dj acm, djscoe student chapter ">
    <meta name="description" content="DJSCOE-ACM has established itself as a successful committee in terms of the number of members who have become a part of the ACM family and in terms of the seminars/workshops that have been conducted.">
    <meta name="author" content="DJSCOE-ACM">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="81ErpgVS5fhL23ixqFPO_k4TDIkbfFTmip8WeF-n4V4" />  
    <link rel="shortcut icon" href="{% static 'images/acm-logo.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/acm-logo.ico' %}"> <script src="{% static 'assets/jquery-3.1.0.min.js' %}"></script> 
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'>
    <script src="{% static 'assets/js/navbar.js' %}"></script>
    <link href="{% static 'assets/css/navbar.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/About us.css' %}" rel='stylesheet' type='text/css'>
        <link href="{% static 'assets/css/Whatwedo.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/portfolio.css' %}" rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <link href="{% static 'assets/css/footer.css' %}" rel='stylesheet' type='text/css'>    
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,200,700,800,900' rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68989382-1', 'auto');
  ga('send', 'pageview');

</script>  <style type="text/css">
  
   body{
    font-family: 'Raleway', Arial, 'sans-serif';
   }
 .about-grid {
 font-size:15px;
 } 
.about-grid p{
	font-size: 15px;
}

.slid-btn:hover{
    text-decoration: none;
    background: rgba(64, 116, 163, 0.36);
    color: white;
}
@media(min-width: 800px){                      /*Hiding the mobile menu icon in case of a bigger screen*/
	.Menu-icon{
		display: none;
	}
	.word{
	width:200px;
	}
}

hr{
	margin: 0;
	width: 80%;
}
.scroll{
text-align:center;
font-size:25px;
}
</style>

<style>


</style>

 

</head>



<body>
    <nav>                                                  <!-- refer to navbar.css  -->
        <div class="logo">
            DJSCOE
        </div>
        <div class="logo_image" >
            <img src="{% static 'assets\images/acm_logo.png' %}" class="clip-img" > 
        </div>
        <div class="navbarr">                             <!-- When the device width is more than 800px -Desktop -->
            <ul>                                            <!-- refer to media query in navbar.css -->
              
                
                 <!--<li ><a  href="map.html">map</a></li>-->

                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'events' %}">Events</a></li>
                <li><a href="{% url 'team' %}">Team</a></li>
                <!--<li><a href="IF/index.html">Internship Fair</a></li>-->
                <li><a href="{% url 'ASCII' %}">DJ-ASCII</a></li>
                <li><a href="{% url 'loc_home' %}">LOC</a></li>
                <li><a href="{% url 'ppt' %}">PPT</a></li>
                <li ><a  href="{% url 'contact' %}">Contact</a></li>
                           
            </ul>
        </div>
        <div class="Menu-icon">                                 <!-- In case of Mobile -->
        	<i class="fa fa-bars"></i>
        </div>
        

    </nav>

    
    
    <div class="container">
        <h2>Presentations</h2>
        <br>
        <h2>OS</h2>
        <div class="row">
            
            <div class="col-md-6 col-sm-6 portfolio-item">
                
                    <!-- <img src="assets/images/elibrary.png"  alt=""> -->
                        <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
                        <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&amp;resid=2DC42B99C240EA8%212873&amp;authkey=AGhkFsQQysz1Mjg&amp;em=2&amp;wdAr=1.3333333333333333" width="375px" height="327px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
                
                <div class="portfolio-caption">
                    <h4>Operating Systems Overview</h4>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 portfolio-item">
                
                    <!-- <img src="assets/images/elibrary.png"  alt=""> -->
                        <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212878&authkey=AOboSJ6bOMM4P_s&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                
                <div class="portfolio-caption">
                    <h4>Processes</h4>
                </div> 
            </div>
        </div>
                
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                
                    <!-- <img src="assets/images/elibrary.png"  alt=""> -->
                        <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&amp;resid=2DC42B99C240EA8%212877&amp;authkey=ACQ5lKQLIEGWzAw&amp;em=2&amp;wdAr=1.3333333333333333" width="375px" height="327px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>              
                        
                <div class="portfolio-caption">
                    <h4>Threads</h4>
                </div>
            </div>
                

            <div class="col-md-6 col-sm-6 portfolio-item">
                
                    <!-- <img src="assets/images/elibrary.png"  alt=""> -->
                        <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212882&authkey=AKo8px3Mn9o1Uk4&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>            
                         
                <div class="portfolio-caption">
                    <h4>Concurrency</h4>
                </div>
            </div> 
        </div>
                
        <div class="row">
                    
            <div class="col-md-6 col-sm-6 portfolio-item">
                
                    <!-- <img src="assets/images/elibrary.png"  alt=""> -->
                        <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212880&authkey=AGLMBblmbLqBss4&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                           
                <div class="portfolio-caption">
                    <h4>Deadlocks</h4>
                </div>
            </div> 

            <div class="col-md-6 col-sm-6 portfolio-item">
                
                    <!-- <img src="assets/images/elibrary.png"  alt=""> -->
                        <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212881&authkey=APAlT2Kygv-dbHY&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                           
                    <div class="portfolio-caption">
                        <h4> Memory Management</h4>        
                    </div>
            </div> 
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                
                        <!-- <img src="assets/images/elibrary.png"  alt=""> -->
                            <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212884&authkey=AI9X7WE9uwi4zm4&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                           
                <div class="portfolio-caption">
                    <h4> IO Management</h4>        
                </div>
            </div> 

            <div class="col-md-6 col-sm-6 portfolio-item">
                
                            <!-- <img src="assets/images/elibrary.png"  alt=""> -->
                                <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212885&authkey=AOoPG5gSLAgusEU&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                               
                <h4> Uniprocessor Scheduling</h4>        
            </div>
        </div> 
                        
                        </div>
                        <div class="row">
                        <div class="col-md-6 col-sm-6 portfolio-item">
                
                                
                                    <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212883&authkey=AMgaEB8r-XGKPYU&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                      
                                    <div class="portfolio-caption">
                                       <h4> File Management</h4>        
                                </div>
                            </div>         
        </div>
                            <br>
                            <br>
                        <h2>DBMS</h2>
                        <br>
                        <div class="row">

                        <div class="col-md-6 col-sm-6 portfolio-item">
                
                                
                                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212889&authkey=AKNIRgYfk9iuMc8&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>            
                                <div class="portfolio-caption">
                                   <h4> Advance SQL</h4>        
                            </div>
                        </div>         

                        <div class="col-md-6 col-sm-6 portfolio-item">
                
                                
                                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212890&authkey=AAupnJYYmvNN6Uk&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>
                                <div class="portfolio-caption">
                                   <h4> Basic SQL</h4>        
                            </div>
                        </div>         
                        
                        </div>
                        
                        <div class="row">
                        <div class="col-md-6 col-sm-6 portfolio-item">
                
                                
                                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212891&authkey=ABEGFFwBN-VJV9U&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>    
                                <div class="portfolio-caption">
                                   <h4>Intermediate SQL</h4>        
                            </div>
                        </div>         
                        

                        

                        <div class="col-md-6 col-sm-6 portfolio-item">
                
                                
                                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212893&authkey=AOBE6cSIIW79v1s&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                                
                                <div class="portfolio-caption">
                                   <h4>Aggregate GRP by Nested</h4>        
                            </div>
                        </div>         
                        </div>
                        
                        <div class="row">
                            
                        <div class="col-md-6 col-sm-6 portfolio-item">
                
                                
                                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212892&authkey=AOjDVQBrVfHWgRM&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                                
                                <div class="portfolio-caption">
                                   <h4>EN Ch07 ER EER</h4>        
                            </div>
                        </div>         

                        <div class="col-md-6 col-sm-6 portfolio-item">
                
                                
                                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212894&authkey=AGdurPCvbMk36aQ&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                               
                                 <div class="portfolio-caption">
                                   <h4> Normalization</h4>        
                            </div>
                        </div>         
                        </div>

                        <div class="row">
                        <div class="col-md-6 col-sm-6 portfolio-item">
                
                                
                                <iframe src="https://onedrive.live.com/embed?cid=02DC42B99C240EA8&resid=2DC42B99C240EA8%212895&authkey=ALQLfbHqnCB2p34&em=2" width="375" height="327" frameborder="0" scrolling="no"></iframe>                               
                                   <h4> Transaction Management</h4>        
                            </div>
                        </div>         
                        </div>

                        

    
        
    <!-- <iframe src="https://onedrive.live.com/embed?resid=2DC42B99C240EA8%212866&amp;authkey=%21AID4iFNjNBlV91k&amp;em=2&amp;wdAr=1.7777777777777777" width="350px" height="221px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe> -->
    
    <div class=" copy-right" style="font-family: 'Raleway', Arial, 'sans-serif'; font-weight:normal; ">
        <div class="container">
          <p  class="pull-left"> Copyright &copy;DJSCOE-ACM<sup>TM</sup> </p>
        <p  class="pull-right">Developer: &nbsp<a href="">Chirag Jain</p>
       
        </div>
      </div>
</body>

</html>    
